<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-permitted" class="container">
  <div class="d-flex flex-column justify-content-center align-items-center" style="width:100%;height:100vh;">
    <h3 class="text-center">Oh? You're not meant to be here.</h3>
    <img src="https://media.tenor.com/n7Q-cdm8ZLkAAAAd/suspicious-fry-futurama.gif" class="img-fluid" style="margin-top:30px;" />
  </div>
</div>
