<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<%- contentFor('body') %>
<div id="pages-not-permitted" class="container">
  <h1 class="text-center">Oh? You're not meant to be here</h1>
</div>
