<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const getArticles = async () => {
    console.log("Fetching articles...");
    try {
      const resp = await axios({
        method: 'GET',
        // url: 'https://dev.to/api/articles',
        // url: '/api/my/subscriptions/devto'
        url: '/api/articles',
      });
      console.log(resp);
      generatePage({
        articles: resp.data
      });
    } catch (err) {
      console.error(err);
    }

  }

  const generateTitle = ({
    info
  } = {}) => {
    return `<h1>News Articles</h1>`;
  }

  const generateCard = (article) => {

  }

  const generateArticles = ({
    articles
  } = {}) => {
    console.log("articles in generateArticles", articles);
    if (articles?.length > 0) {
      generateCard(articles[0]);
    }
  }

  const generatePage = (info) => {
    console.log("info", info);
    const $page = $("#pages-articles-index");
    const $title = generateTitle(info);
    const $articles = generateArticles(info);

    $page.append($title).append($articles);
  }

  $(document).ready(() => {
    getArticles();
  });
</script>


<%- contentFor('body') %>
<div id="pages-articles-index"></div>
