<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const getArticles = async () => {
    toggleLoadOverLay();
    console.log("Fetching articles...");
    try {
      const resp = await axios({
        method: 'GET',
        // url: 'https://dev.to/api/articles',
        // url: '/api/my/subscriptions/devto'
        url: '/api/articles',
      });
      // console.log(resp);
      generatePage({
        articles: resp.data.articles,
        meta: resp.data.meta,
      });
    } catch (err) {
      console.error(err);
    } finally {
      toggleLoadOverLay();
    }

  }

  const shortenTitle = (title) => {
    const end = title.lastIndexOf(' - ');
    return (end > 0) ? title.slice(0, end) : title;
  }

  const generateTags = (article) => {
    return (article?.tags?.length == 0) ? 'hello' : article?.tags.map(tag => {
      return (tag?.name) ? `<small class="badge rounded-pill text-bg-secondary">${tag.name}</small>` : ''
    }).join('');
  }

  const secondsToHoursMinutes = (seconds) => {
    const hours = Math.trunc(seconds / 3600);
    const minutes = Math.trunc(seconds / 60) - (hours * 60);
    return `${(hours > 0)? `${hours} hr`: ''}` + `${(minutes > 0)? `${minutes} min`: ''}`
  }

  const generateTitle = ({
    info
  } = {}) => {
    return `<h1 class="text-center">News Articles</h1>`;
  }

  const generateArticle = (article) => {
    var options = {
      weekday: 'short',
      year: 'numeric',
      month: 'short',
      day: 'numeric'
    };
    return `
    <div class="col">
      <div class="card h-100">
        <img src="${(article?.image)? article.image : "/imgs/olive-pfp.jpeg"}" class="card-img-top card-image" alt="card-image">
        <div class="card-body text-dark">
          <div class="card-source-info">
            <strong class="article-source-name">
              <a class="text-dark" href="${(article?.sourceURL)? article.sourceURL : " #"}">
                ${(article?.sourceName)? article.sourceName : ""}
              </a>
            </strong>
            <i class="article-author">${(article?.author)? article.author : ""}</i>
            <small class="text-muted article-pubdate">${(article?.pubDate)? new Date(article.pubDate).toLocaleDateString("en-US", options) : ""}</small>
          </div>
          <div class="card-title-wrapper">
            <h5 class="card-title">
              <a class="text-dark" href="${(article?.url)? article.url : " #"}">
                ${(article?.title)? shortenTitle(article.title) : "Card Title"}</a>
            </h5>
            <div class="card-tags-section">
              ${generateTags(article)}
            </div>
          </div>
          <p class="card-text line-clamp">${(article?.description)? article.description: ""}</p>
        </div>
        <div class="card-bottom">
          <div class="card-actions">
            <button class="btn btn-outline-success" data-article-id="${(article?.id)? article.id : null}">
              <i class="fas fa-bookmark"></i>
              <span>Bookmark</span>
            </button>
          </div>
          <span class="align-self-center px-2 text-muted"><small>${(article?.readingTime)? secondsToHoursMinutes(article.readingTime) : ''}</small></span>
        </div>
      </div>
    </div>
    `;
  }

  const generateArticles = ({
    articles
  } = {}) => {
    console.log("articles in generateArticles", articles);
    if (articles?.length > 0) {
      return `
      <div id="cards-section" class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-4">
        ${articles.map((art) => generateArticle(art)).join('')}
      </div>
      `;
    }
  }

  const generatePage = (info) => {
    // console.log("info", info?.articles?.article?.content);
    const $page = $("#pages-articles-index");
    const $title = generateTitle(info);
    console.log('info before GenerateArticles', info);
    const $articles = generateArticles(info);

    $page.html('').append($title).append($articles);
  }

  const getArticlesByFilter = async (e) => {
    e.preventDefault();
    toggleLoadOverLay();
    // console.log(e, e.target, e.currentTarget);
    const $target = $(e.currentTarget);
    const topic = $target.data('topic') || ''

    if (!topic) return;
    else if (topic == 'headlines') {
      window.location.href = '/articles';
    } else {
      axios({
        method: "GET",
        url: `/api/articles/${topic}`
      }).then((resp) => {
        generatePage({
          articles: resp.data.articles,
          meta: resp.data.meta
        });
      }).catch((err) => {
        console.error(err);
        generatePage({
          displayErr: true
        });
      }).finally(() => {
        toggleLoadOverLay();
      });
    }
  }

  const ignoreBadLink = (e) => {
    console.log(e.currentTarget);
  }

  const handleSearch = (e) => {
    e.preventDefault();
    toggleLoadOverLay();
    const queries = parseFormData(new FormData(e.currentTarget));
    axios({
      method: "GET",
      url: "/api/articles",
      params: {
        ...queries
      }
    }).then((resp) => {
      generatePage({
        articles: resp.data.articles,
        meta: resp.data.meta
      });
    }).catch((err) => {
      console.error(err);
      generatePage({
        displayErr: true
      });
    }).finally(() => {
      toggleLoadOverLay();
    });
  }


  $(document).ready(() => {
    getArticles();
    $("#topic-filter").on('click', 'a.nav-link', getArticlesByFilter);
    $("#pages-articles-index").on('click', '.card a', ignoreBadLink);
    $("#articles-search-section").on('submit', "#index-search-form", handleSearch);
  });
</script>


<%- contentFor('body') %>
<div id="pages-articles-index-wrapper" class="container-fluid">
  <div id="articles-search-section">
    <div class="navbar searchbar">
      <div class="container-fluid justify-content-end">
        <form id="index-search-form" class="d-flex" role="search">
          <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="index-search-btn" class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
    <ul id="topic-filter" class="nav justify-content-around">
      <li class="nav-item"><a href="#" class="nav-link text-white active" aria-current="page" data-topic="headlines">Headlines</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="world">World</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="nation">Nation</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="business">Business</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="technology">Technology</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="entertainment">Entertainment</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="sports">Sports</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="science">Science</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white" data-topic="health">Health</a></li>
    </ul>
  </div>
  <div id="pages-articles-index" class=""></div>
</div>
