<script>
  const highlightActivePage = (e) => {
    $nav = $('.nav');
    $navLinks = $nav.find("li a");
    $navLinks.removeClass("active");
    $navLinks.addClass("text-white");
    $target = $nav.find(`li a[href="${window.location.pathname}"]`);
    $target.addClass("active");
  }

  $(document).ready(() => {
    highlightActivePage();
  });
</script>

<div id="navbar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">readr</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white">
        Read
      </a>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link active" aria-current="page">
        My Reading Lists
      </a>
    </li>
    <li class="nav-item">
      <a href="/articles" class="nav-link text-white">
        News
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="avatar-wrapper">
        <img src="/imgs/olive-pfp.jpeg" class="rounded-circle me-2 avatar-small">
        <strong>Jeremy</strong>
      </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
