<script>
  const highlightActivePage = (e) => {
    $nav = $('.nav');
    $navLinks = $nav.find("li a");
    $navLinks.removeClass("active");
    $navLinks.addClass("text-white");
    $target = $nav.find(`li a[href="${window.location.pathname}"]`);
    $target.addClass("active");
  }

  const toggleNavBar = (e) => {
    $("#navbar").toggleClass('expanded');
    $("#navbar-collapse").toggleClass('expanded');
  }

  const replaceNavLower = ({
    isLoading,
    user
  } = {}) => {
    const $navLower = $("#navbar-lower");

    if (isLoading) return;

    const userLoggedInUI = `
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="nav-avatar-wrapper">
          <img src="${(user?.avatar)? user.avatar : '/imgs/no-profile-picture-icon.png'}" class="rounded-circle me-2 nav-avatar-small">
          <strong class="truncate">${(user?.username)? user.username : 'N/A'}</strong>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li>
          <a class="dropdown-item" href="/my/profile">
            <i class="fas fa-address-card"></i>
            <span>Profile</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a id="auth-logout" class="dropdown-item text-danger" href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span>Log out</span>
          </a>
        </li>
      </ul>
    </div>
    `;
    const userNotLoggedInUI = `
    <hr>
    <ul class="nav nav-pills d-flex">
      <li class="nav-item">
        <a href="/auth/login" class="nav-link text-white">
          <i class="fas fa-sign-in-alt"></i>
          <span>Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/auth/register" class="nav-link text-white">
          <i class="fas fa-user-plus"></i>
          <span>Register</span>
        </a>
      </li>
    </ul>
    `;

    return $navLower.html(user ? userLoggedInUI : userNotLoggedInUI);

  }

  const getMyProfile = () => {
    replaceNavLower({
      isLoading: true
    });

    axios({
      method: "GET",
      url: '/api/my/profile',
    }).then((resp) => {
      replaceNavLower({
        user: resp.data
      })
    }).catch(() => {
      replaceNavLower();
    })
  }

  const handleLogout = (e) => {
    e.preventDefault();

    axios({
      method: 'DELETE',
      url: '/api/auth/logout',
    }).then(() => {
      $("ul.nav > li:first-child > a").attr('href', "/my/reading-list/articles/blank");
      window.location.href = '/auth/login';
    });

  }


  $(document).ready(() => {
    getMyProfile();
    highlightActivePage();
    $('#navbar-collapse').on('click', toggleNavBar);
    $('#navbar').on('click', '#auth-logout', handleLogout);

    if (window.location.pathname.includes('/my/reading-list/articles/')) {
      $('#navbar-collapse').trigger('click');
    }

  });
</script>

<div id="navbar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">readr</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/my/reading-list" class="nav-link text-white">
        <i class="fas fa-list"></i>
        <span>My Reading List</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/articles" class="nav-link text-white">
        <i class="fas fa-newspaper"></i>
        <span>News</span>
      </a>
    </li>
  </ul>

  <div id="navbar-lower">
    <!-- <div class="dropdown hidden">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="avatar-wrapper">
          <img src="/imgs/no-profile-picture-icon.png" class="rounded-circle me-2 avatar-small">
          <strong></strong>
        </div>
      </a> -->
    <!-- <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul> -->
  </div>
</div>
</div>



<div id="navbar-expand-button-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <button type="button" id="navbar-collapse" class="btn btn-secondary">
        <i class="fas fa-align-left"></i>
      </button>

    </div>
  </nav>
</div>
