<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  const generateForm = ({
    user,
    errors
  } = {}) => {
    return `
    <div class="row">
      <div id="form-wrapper" class="col-12 col-md-10 col-lg-8 px-4">
        <form id="register-form">
          <div class="mb-3">
            <label for="user-email" class="form-label">Email<sup>*</sup></label>
            <input
              id="user-email"
              class="form-control ${errors?.email && 'is-invalid'}"
              name="email"
              value="${user?.email || ''}"
              type="email"
            ></input>
            <div class="invalid-feedback">${errors?.email || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password" class="form-label">Password<sup>*</sup></label>
            <input
              id="user-password"
              class="form-control ${errors?.password && 'is-invalid'}"
              name="password"
              value="${user?.password || ''}"
              type="password"
            ></input>
            <div class="invalid-feedback">${errors?.password || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-password-confirmation" class="form-label">Confirm Password<sup>*</sup></label>
            <input
              id="user-password-confirmation"
              class="form-control ${errors?.passwordConfirmation && 'is-invalid'}"
              name="passwordConfirmation"
              value="${user?.passwordConfirmation || ''}"
              type="password"
            ></input>
            <div class="invalid-feedback">${errors?.passwordConfirmation || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-username" class="form-label">Username <small>(Optional)</small></label>
            <input id="user-username" class="form-control ${errors?.username && 'is-invalid'}" name="username" value="${user?.username || ''}" type="text"></input>
            <div class="invalid-feedback">${errors?.username || ''}</div>
          </div>

          <div class="mb-3">
            <label for="user-avatar" class="form-label">Change Avatar <small>(Optional)</small></label>
            <input
            id="user-avatar"
            name="avatar"
            type="file"
            class="form-control ${(errors?.avatar)? 'is-invalid' : ''}"
            />
            <div class="invalid-feedback">${errors?.avatar || ''}</div>
          </div>

          <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  `
  }

  const generatePage = (info) => {
    const $page = $('#pages-auth-register')
    const $title = '<h2 class="text-center py-4">Register</h2>'
    const $form = generateForm(info)

    $page.html('').append($title).append($form)
  }

  const handleRegister = (e) => {
    e.preventDefault()

    const data = new FormData(e.target)
    console.log('data', parsedData(data));
    $('#register-form button[type="submit"]').attr('disabled', true)

    axios({
      method: 'POST',
      url: '/api/auth/register',
      data
    }).then(() => {
      window.location.href = `/articles`
    }).catch((err) => {
      generatePage({
        user: parseFormData(data),
        errors: err.response.data
      })
    })
  }

  $(document).ready(() => {
    generatePage()
    $('#pages-auth-register').on('submit', '#register-form', handleRegister)
  })
</script>

<%- contentFor('body') %>
<div id="pages-auth-register-wrapper" class="container-fluid">
  <div id="register-header-wrapper" class="text-center">
    <h1>readr</h1>
  </div>
  <div id="pages-auth-register"></div>
</div>
